.carousel-indicators {
    display: none;
}
.carousel-control {
    position: absolute;
    top: 30%;
    bottom: auto;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.carousel-control.right {
    right: -80px;
}
.carousel-control.left {
    left: -80px;
}
.carousel-inner {
    min-height: 300px;
}
.carousel-control:hover,
.carousel-control:focus {
    color: @brand-green-hover;
}
.slide-item {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.fade-in {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}
.fade-in.ng-hide {
    opacity: 0;
}
.no-controls {
    .carousel-control {
	display: none;
    }
}