.progress {
    margin: 20px auto;
    position: relative;
    background-color: rgba(255,255,255,0.1);
    height: 40px;
    max-width: 300px;
    border-radius: 0px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
    .progress-bar {
        background-color: #29540d;
    }
    .subway-progress-bar-text {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
    }
}