@modal-font-color: #333;
@modal-error-color: red;

.modal-sm {
    width: 400px;
}
.modal-title {
    color: @modal-font-color;
}
.modal-dialog {
    margin-top: 150px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}
.modal-content {
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.modal-body {
    font-weight: normal;
    padding: 5px 15px;
    legend {
        font-size: 16px;
        font-weight: lighter;
    }
}
.promotion-details {
    position: absolute;
    font-size: 12px;
    margin: 10px 0;
    bottom: -55px;
}
legend {
    margin: 5px 0;
}
.form-group {
    margin-bottom: 10px;
}
.buttons {
    margin-top: 20px;
}
.checkbox {
    margin: 0;
    color: rgba(51, 51, 51, 0.73);
}
.terms {
    color: @brand-green;
    &:hover {
        color: @brand-green-hover;
    }
}
.terms-page {
    color: #333;
    padding: 10px;
    h3 {
        margin: 10px 0;
        font-weight: lighter;
    }
    .terms-content__wrap {
        max-height: 300px;
        overflow: scroll;
    }
}
.back-button {
    font-size: 18px;
    color: @brand-green;
    display: inline-block;
    &:hover {
	color: @brand-green-hover;
    }
}
.btn-link {
    color: #787878;
    &:active,
    &:focus,
    &:hover {
        color: #333;
    }
}
.btn-lang {
    background: none;
    border-radius: 0;
    color: #fff;
    width: 100px;
    &:visited, &:focus {
        color: #fff;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.17);
        color: #fff;
    }
}
.btn-group.open .dropdown-toggle {
    background: rgba(255, 255, 255, 0.17);
}
.open > .dropdown-menu {
    display: block;
    margin: 0;
    border-radius: 0;
    width: 100px;
    min-width: 0px;
}
.has-error {
    color: @modal-error-color;
    a, .checkbox {
       color: @modal-error-color; 
    }
    .form-control, .form-control:focus, .form-control:active {
        border-color: @modal-error-color;
    }
}
.success-page__inner {
    padding: 20px;
    margin: 30px 0;
    text-align: center;
    color: #333;
    h3 {
	margin: 10px 0;
	font-weight: lighter;
    }
    .back-button {
	margin: 30px 0 10px 0;
    }
}