<!DOCTYPE html>
<html ng-app="ngSubwayFreshTracks">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//s3-us-west-2.amazonaws.com/f3-spa-ads/f3.ng.subway.freshtracks/resources/js/customscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="resources/css/styles.css">
    </head>
    <body ng-controller="AppController" ng-show="cmsIsLoaded">
        <div class="wrapper">
            <header class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <a target="_blank" href="{{footer.subway_link}}" class="logo" ng-click="onVisit();"></a>
                    </div>
                    <div class="col-xs-6 col-xs-offset-1">
                        <div class="app-title" ng-class="{'french': language.lang[language.currentLang].code === 'fr'}"></div>
                    </div>
                    <div class="col-xs-3 text-center">
                        <div class="lang-select">
                            <div class="btn-group" dropdown is-open="status.isopen">
                                <button type="button" class="btn btn-lang dropdown-toggle" ng-disabled="disabled">
                                    {{language.lang[language.currentLang].text}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="lang in language.lang| filter: unselectedLangs"><a href="" ng-click="selectLang(lang)">{{lang.text}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div ui-view></div>
            <div class="footer-push"></div>
        </div>
        <footer>
            <a target="_blank" ng-click="onVisit();" href="{{footer.subway_link}}">{{footer.subway_text}}</a>
            <a target="_blank" ng-click="onLike();" href="{{footer.facebook_link}}">{{footer.facebook_text}}</a>
            <a target="_blank" ng-click="onFollow();" href="{{footer.twitter_link}}">{{footer.twitter_text}}</a>
            <p ng-bind-html="footer.trademark"></p>
        </footer>

        <iframe id="spotify" src="" style="display: none;"></iframe>



        <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function ()
                        {
                            (i[r].q = i[r].q || []).push(arguments)
                        }
                        , i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                    ga('create', 'UA-32470551-30', 'auto');
                    ga('send', 'pageview');
        </script>

        <script src="//s3.amazonaws.com/f3cdn/jquery/2.1.1/dist/jquery.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular/1.2.22/angular.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular-resource/1.2.22/angular-resource.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular-ui-router/0.2.10/release/angular-ui-router.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
        <script src="//s3.amazonaws.com/f3cdn/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" >
            var MYCUSTOPLAYERREFERENCE = null;
            var MYCUSTOMAUTOLOOP = 0;
            var MYCUSTOMAUTOPLAY = 1;
        </script>
        <script src="//d2gi7ultltnc2u.cloudfront.net/videoplayer/jwplayer/jw.efsharp.wrapper.ver4.9.js"></script>
        <script src="//s3-us-west-2.amazonaws.com/f3-spa-ads/f3.ng.subway.freshtracks/resources/js/jwplayer/jwplayer.js"></script>
        <script> jwplayer.key = "dYyp6FtN//d+yA06H9fjgtYK6EsbQh3UAhyJ7Pji3sw=";</script>

        <script src="resources/js/app.js"></script>
        <script src="resources/js/config.js"></script>

        <script src="resources/js/services/collaborative.js"></script>
        <script src="resources/js/services/cms.js"></script>
        <script src="resources/js/services/social.js"></script>
        <script src="resources/js/services/sweepstakes.js"></script>

        <script src="resources/js/directives/facebook.js"></script>
        <script src="resources/js/directives/twitter.js"></script>
        <script src="resources/js/directives/progressbar.js"></script>
        <script src="resources/js/directives/f3-loading-spinner.js"></script>
        <script src="resources/js/directives/efsharp.video.js"></script>

        <script src="resources/js/controllers/app.js"></script>
        <script src="resources/js/controllers/landing.js"></script>
        <script src="resources/js/controllers/loader.js"></script>
        <script src="resources/js/controllers/results.js"></script>
        <script src="resources/js/controllers/signup.js"></script>
        <script src="resources/js/controllers/error.js"></script>

        <!-- mCustomScrollbar -->
        <script src="//s3-us-west-2.amazonaws.com/f3-spa-ads/f3.ng.subway.freshtracks/resources/js/customscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript">
            document.write(unescape("%3Cscript src='" + (("https:" === document.location.protocol) ? "https://" : "http://") + "f3-metrics-us.efsharp-hosting.com/v8-engine/js.php?s=ts&a=f3_ng_subway_freshtracks' type='text/javascript'%3E%3C/script%3E"));

            document.write(unescape("%3Cscript src='" + (("https:" === document.location.protocol) ? "https://" : "http://") + "f3-metrics-us.efsharp-hosting.com/v8-engine/js_vid.php?fl=Lightbox_Video_1.WEBM&bot=na&s=ts&a=f3_ng_subway_freshtracks' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </body>
</html>
