*, *:before, *:after {
  .box-sizing(border-box);
 }

body{
	.font-size(14);
	background: url(@base_image) no-repeat center 0;
	background-size: cover;
	color: @base_fore_color;
	font-family: @base_font_family;
	font-weight: 300;
	height: @app_height;
	margin: 0 auto;
	max-width: @app_width;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h3 {
	&:extend(.fs18);
}

.wrapper {
	position: relative;
	height: 100%;
}

footer {
	position: absolute;
	bottom: 20px;
	width: 575px;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	a {
		font-size: 12px;
		margin: 0 20px;
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
		&:hover {
			color: @brand-green-hover;
		}
	}
	p {
		font-size: 12px;
	}
}

.primary-headline{
	&:extend(.fwl);
	&:extend(.tac);
	.font-size(@primar_headline_font_size);
	color 				: @primar_headline_color;
	font-family 		: @primary_headline_ff;
	line-height 		: normal;
}
.btn-primary {
	background-color: #2c961a;
	border-radius: 0px;
	padding: 10px 30px;
	font-size: 16px;
	border: 0;
	&:active,
	&:focus,
	&:hover {
		background-color: #29540d;
	}
}
.video-container {
	width: 500px;
	height: 300px;
	background-color: black;
	margin: 20px auto;
}