.uppercase{
	text-transform: uppercase;
}

.tac{
	text-align: center;
}

.tar{
	text-align: right;
}

.tal{
	text-align: left;
}

.inline-block{
	.inline-block();
}

.pointer{
	cursor: pointer;
}

//Font Sizes
.fs10{.font-size(10);}
.fs12{.font-size(12);}
.fs14{.font-size(14);}
.fs16{.font-size(16);}
.fs18{.font-size(18);}
.fs20{.font-size(20);}
.fs22{.font-size(22);}
.fs24{.font-size(24);}
.fs26{.font-size(26);}
.fs28{.font-size(28);}
.fs30{.font-size(30);}
.fs32{.font-size(32);}
.fs34{.font-size(34);}
.fs36{.font-size(36);}
.fs38{.font-size(38);}
.fs40{.font-size(40);}

.fwl{
	font-weight: 300;
}

.fwb{
	font-weight: 700;
}

.fwm{
	font-weight: 600;
}

