//Global

//IF Facebook App
//@app_height: 900px;
//@app_width: 810px;

//IF Spotify APP
@app_height: 100%;
@app_width: 1140px;

@base_color: #3c4e3e;
@base_image: '../images/background/skin.jpg';
@base_fore_color: #fff;
@base_font_family: 'Roboto';
@base_font_size: 14;

@brand-green: #2c961a;
@brand-green-hover: #29540d;

@scrollbar-track-color: fade(#fff, 50%);
@scrollbar-width: 5px;
@scrollbar-thumb-color: #000;
//Header

@header_background_color: transparent;
@header_background_image: ;
@header_background_repeat: repeat-x;
@header_height: 85px;

//Logo
@logo_image: '../images/logo/logo.png';
@logo_height: 34px;
@logo_width: 119px;

//Social Media Share

@share_label_color: #000;
@share_label_font: 'Arial';
@share_label_font_size: 13; //FONT-SIZE. NO NEED TO MENTION PX HERE
@share_label_font_weight: 700;
@share-label-text-transform: normal;

@sm-icons: '../images/icons/sm-icons.png';
@sm_icon_height: 20px;
@sm_icon_width: 20px;

//Campaign Headlines
@primar_headline_font_size: 24; //FONT-SIZE. NO NEED TO MENTION PX HERE
@primar_headline_color: #fff;
@primary_headline_ff: 'roboto';
@primary_headline_text_transform: none;

@secondary_headline_font_size: 26; //FONT-SIZE. NO NEED TO MENTION PX HERE
@secondary_headline_color: @color_yellow;
@secondary_headline_ff: 'FranklinGothic-Heavy';

//Loader Screen Headline
@loader-headline-font-size: 32;
@loader-headline-color: @color_yellow;
@loader-headline-font-family: 'FranklinGothic-Heavy';
@loader-headline-font-weight: normal;
@loader-headline-text-transform: inherit;
@loader-headline-text-shadow: fade(#000, 23%) -1px 1px 12px;

//Footer
@footer-font-family: 'Droid Sans';
@footer-font-size: 14;
@footer-height: 28px;
@footer-links-color: @color_yellow;
@footer-links-hover-color: #fff;
@footer-links-space: 0 10px;


//Search Widget
@sw-bg-color: none;
@sw-border: none;
@sw-box-shadow: none;
@sw-arrow-color: #fff;
@sw-arrow-display: none;
@sw-arrow-width: 10px;
@sw-min-height: 60px;
@sw-padding: 0;
@sw-position: relative;
@sw-width: 100%;
@sw-zindex: 1;

@sw-search-icon: '../images/icons/sw-search-icon.png';
@sw-inner-bg-color: transparent;
//Search Widget Input Styles
@sw-input-bg-color: fade(#fff, 10%);
@sw-input-border: transparent 1px solid;
@sw-input-border-focus-color: #fff;
@sw-input-color: #fff;
@sw-input-font-family: 'roboto';
@sw-input-font-size: 28;
@sw-input-height: 60px;
@sw-input-padding: 7px 40px 7px 60px; // use top/bottom padding to control the height of input. 
@sw-input-width: 100%;
@sw-input-placeholder-color: #fff;
@sw-input-placeholder-font-family: 'roboto';

@sw-input-clear-icon: '../images/icons/sw-clear-icon.png';
@sw-input-clear-icon-hover-pos: 0 0;
@sw-input-clear-display: block;
@sw-input-clear-height: 15px;
@sw-input-clear-right-pos: 17px;
@sw-input-clear-top-pos: 23px;
@sw-input-clear-width: 15px;

//Search Widget Dropdown
@sw-dd-background-color: fade(#fff, 95%);
@sw-dd-border-color: #b6b6b1;
@sw-dd-box-shadow: none;
@sw-dd-height: 230px;
//@sw-dd-right-padding: 10px;//ONLY required for BestBuy Campaign. Remove for others.
@sw-dd-items-border-color: #fff;
@sw-dd-item-color: #000;

@sw-dd-item-font-family: 'roboto';
@sw-dd-item-font-size: 18;

@sw-dd-item-hover-background: #e2e2dc;
@sw-dd-item-hover-color: #000;

@sw-dd-item-padding: 4px 0 4px 48px;

@sw-dd-scrollbar-width: 8px;
@sw-dd-scrollbar-track-color: #fff;
@sw-dd-scrollbar-thumb-color: #ccc;

@sw-loader-gif: '';
@sw-loader-gif-height: 20px;
@sw-loader-gif-width: 20px;
@sw-loader-right-pos: 10px;
@sw-loader-top-pos: 10px;

@sw-loadmore-btn-bg-color: transparent;
@sw-loadmore-btn-border: none;
@sw-loadmore-btn-color: #444;
@sw-loadmore-btn-hover-color: #dadcd4;
@sw-loadmore-btn-fontfamily: 'roboto';
@sw-loadmore-btn-fontsize: 18;
@sw-loadmore-btn-padding: 8px 0;
@sw-loadmore-btn-width: 100%;

//No Results Found
@sw-error-background: #fff;
@sw-error-border-color: @sw-dd-border-color;
@sw-error-font-family: 'Droid Sans';
@sw-error-font-size: 18;
@sw-error-height: 158px;

//Playlist Styles
@album-art-border: #d8d8d8 1px solid;
@album-art-height: 174px;
@album-art-width: 174px;

@track-title-color: @base_fore_color;
@track-title-font-size: 14;
@track-title-font-family: 'arial';
@track-title-font-weight: 400;
@track-title-text-transform: normal;

@artist-title-color: @base_fore_color;
@artist-title-font-size: 14;
@artist-title-font-family: 'arial';
@artist-title-font-weight: 700;
@artist-title-text-transform: normal;

@playlist-items-margin: 0 6px 20px 0;

//Video Placeholder
@video-border: #e4a733 1px solid;
@video-height: 315px;
@video-width: 560px;

@progress-bg-color: fade(#fff, 75%);
@prog-container-border: none;
@progress-border: fade(#ffffff, 10%) 1px solid;
@progress-height: 10px;
@progress-width: 409px;
@progressbar-bg-color: #e4a733;
@progressbar-grad-start-color: #0371eb;
@progressbar-grad-stop-color: #008bfb;
@progress-border-radius: 0;
@progressbar-height: 10px;
@progress-box-shadow: fade(#e3a633, 20%) 1px 1px 1px;

@loader-msg-color: @base_fore_color;
@loader-msg-font-family: 'AvenirNextforBestBuy-Regular';
@loader-msg-font-size: 18;


//Buttons
@btn-border-radius: 0;
@btn-padding: 4px 20px;
@btn-line-height: normal;


@btn-primary-bg-color: @color_yellow;
@btn-primary-color: #fff;
@btn-primary-grad-start-color: #008cfc;
@btn-primary-grad-stop-color: #0371eb;
@btn-primary-border: none;
@btn-primary-font-family: 'Open Sans';
@btn-primary-font-size: 18;
@btn-primary-font-weight: bold;
@btn-primary-height: 40px;
@btn-primary-text-shadow: none;
@btn-primary-text-transform: none;

@btn-primary-hover-bg-color: #b58428;
@btn-primary-hover-border-color: inherit;
@btn-primary-hover-color: #e4a733;
@btn-primary-hover-grad-start-color: #00a6fc;
@btn-primary-hover-grad-stop-color: #037beb;
@btn-primary-hover-text-shadow: none;


@btn-primary-disabled-bg-color: #a1a1a1;
@btn-primary-disabled-border-color: transparent;
@btn-primary-disabled-start-color: #eaeaea; //Gradient Start Color
@btn-primary-disabled-stop-color: #c6c6c6; //Gradient Stop Color
@btn-primary-disabled-color: fade(#fff, 20%);
@btn-primary-opacity: 100;

@btn-medium-font-size: 16;
@btn-small-font-size: 15;

//Share Buttons on Results page for Facebook, Twitter etc.
@btn-share-line-height: normal;
@btn-share-width: 32px;


//Results Page
@selected-track-label-font-size: 16;
@track-name-font-size: 30;
@artist-name-font-size: 30;

@add-song-link-color: @base_fore_color;
@add-song-link-decoration: underline;
@add-song-link-font-size: 16;
@add-song-link-float: right;

//Playlist Section on Results Page
@playlist-name-color: @base_fore_color;
@playlist-name-font-size: 30;
@playlist-height: auto;

@playlist-scrollbar-track-color: #fff;
@playlist-scrollbar-width: 10px;
@playlist-scrollbar-thumb-color: #f0f;
@playlist-scrollbar-track-border: #a7a7a7 1px solid;
@playlist-scrollbar-border-radius: 2px;
@playlist-scrollbar-thumb-border: #f3c825 1px solid;
@scrollbar-thumb-start-color: #fbf62c;
@scrollbar-thumb-stop-color: #f1d226;

//INPUT FIELDS
@text-input-background: #ffffff;
@text-input-background-image: none;
@text-input-border: fade(#000, 25%) 1px solid;
@text-input-border-radius: 1px;
@text-input-box-shadow: inset fade(#000, 20%) -1px 1px 4px;
@text-input-color: #333;
@text-input-font-family: 'HelveticaRegular';
@text-input-font-size: 16;
@text-input-height: 100%;
@text-input-padding: 4px 10px;
@text-input-width: 100%;
@text-input-placeholder-color: #7f7d7e;
@text-input-error-border: @color_red 2px solid;

//Input Fields Error Message
@input-error-msg-color: @color_red;
@input-error-msg-font-family: 'HelveticaRegular';
@input-error-msg-font-size: 14;
@input-error-msg-text-transform: inherit;
@input-error-msg-display: inline-block;
@input-error-msg-valign: middle;

//CHOSEN
@chosen-arrow: '../images/icons/chosen-arrow.png';
@chosen-arrow-height: 9px;
@chosen-arrow-width: 11px;
@chosen-item-border: fade(#000, 10%) 1px solid;
@chosen-item-hover-bg-color: @color_red;
@chosen-item-hover-color: #fff;

//Custom Checkbox
@custom-cbx-display: block;
@custom-cbx-font-weight: normal;
@custom-cbx-line-height: 100%;
@custom-cbx-image-sprite: '../images/icons/checkbox.png';
@custom-cbx-float: left;
@custom-cbx-height: 15px;
@custom-cbx-min-height: 100%;
@custom-cbx-width: 16px;
@custom-cbx-uncheck-bg-pos: 0 0;
@custom-cbx-check-bg-pos: 0 -16px;
@custom-cbx-uncheck-error-bg-pos: 0 -32px;
@custom-cbx-label-color: #fff;
@custom-cbx-label-display: block;
@custom-cbx-label-font-family: 'HelveticaRegular';
@custom-cbx-label-font-size: 14;
@custom-cbx-label-line-height: normal;
@custom-cbx-label-margin-left: 20px;
@custom-cbx-terms-link-color: #2275e7;
@custom-cbx-terms-link-text-decoration: none;
@custom-cbx-terms-link-hover-color: #579dff;

//Error Page
@error-heading-font-size: 72;

//mCustomScrollbar Variables
@mcsb-container-margin-right: 15px;


@mcsb-drag-rail-background-color: #eaeaea;
@mcsb-drag-rail-border-radius: 0;
@mcsb-drag-rail-width: 10px;

@mcsb-drag-bar-border-radius: 0;
@mcsb-drag-bar-start-color: #0371eb;
@mcsb-drag-bar-stop-color: #008cfc;
@mcsb-drag-bar-width: 10px;

//Various Colors:
@color_red: #d71921;
@color_blue: #2ca5e0;
@color_yellow: #e4a733;
@color_green: #5ccf57;
