header{
	padding-bottom: 12px;
	padding-top: 34px;
}

.logo{
	background 			: data-uri(@logo_image) no-repeat;
	background-size		: contain;
	height 				: @logo_height;
	margin: 0 auto;
	width 				: @logo_width;
}

.app-title{
	background: data-uri('../images/background/app-title.png') no-repeat;
	height: 36px;
	margin: 0 auto 0 auto;
	width: 274px;
}