.search-widget{
	background: @sw-bg-color;
	border: @sw-border;
	.box-shadow(@sw-box-shadow);
	min-height: @sw-min-height;
	padding: @sw-padding;
	position: @sw-position;
	width: @sw-width;
	z-index: @sw-zindex;
	&:after{
		border-left: @sw-arrow-width solid transparent;
		border-right: @sw-arrow-width solid transparent;
		border-bottom: @sw-arrow-width solid @sw-arrow-color;
		display: @sw-arrow-display;
		content: '';
		left: 12px;
		position: absolute;
		top: -@sw-arrow-width;
	}

	.sw-inner{
		background-color: @sw-inner-bg-color;
		height: @sw-input-height;
	}

	input{
		.font-size(@sw-input-font-size);
		background: @sw-input-bg-color data-uri(@sw-search-icon) no-repeat 16px center;
		border:@sw-input-border;
		color: @sw-input-color;
		display: block;
		font-family: @sw-input-font-family;
		font-weight: 300;
		height: @sw-input-height;
		//line-height: @sw-input-height;
		padding: @sw-input-padding;
		width: @sw-input-width;
		.placeholder(@sw-input-placeholder-color, @sw-input-placeholder-font-family);
		.ellipsis;
		&:focus{
			border-color: @sw-input-border-focus-color;
		}
	}
	
}

.sw-dropdown{
	position: relative;
	background-color: @sw-dd-background-color;
	border: @sw-dd-border-color 1px solid;
}
.sw-dropdown-menu{	
	border-bottom: @sw-dd-items-border-color 1px solid;
	list-style: none;
	max-height: @sw-dd-height;
	overflow: auto;
	//padding-right: @sw-dd-right-padding; //ONLY required for BestBuy Campaign. Remove for others.

	//----------------------------------------------------------------------------------
	//Use scrollbar styles ONLY if this is for Spotify, otherwise, use mCustomScrollbar

	&::-webkit-scrollbar-track{
		background-color: @sw-dd-scrollbar-track-color;
	}

	&::-webkit-scrollbar{
		width: @sw-dd-scrollbar-width;
	}

	&::-webkit-scrollbar-thumb{
		background-color: @sw-dd-scrollbar-thumb-color;
	}
	//----------------------------------------------------------------------------------
	li{
		border-bottom: @sw-dd-items-border-color 1px solid;
		&:last-child{
			border-bottom: none;
		}

		&.selected{
			a{
                                background: @sw-dd-item-hover-background;
				color: @sw-dd-item-hover-color;
			}
		}
	}
	a{
		color: @sw-dd-item-color;
		display: block;
		font-family: @sw-dd-item-font-family;
		.font-size(@sw-dd-item-font-size);
		max-width: 100%;
		padding: @sw-dd-item-padding;
		.ellipsis;
		&:hover {
			background: @sw-dd-item-hover-background;
			color: @sw-dd-item-hover-color;
		}
	}
}
 
.sw-loader-gif{
	//background: data-uri(@sw-loader-gif) no-repeat;
	height: @sw-loader-gif-height;
	position: absolute;
	right: @sw-loader-right-pos;
	top: @sw-loader-top-pos;
	width: @sw-loader-gif-width;
	.animation(rotateAnim 0.9s linear infinite);
}

.sw-clear-btn{
	background: data-uri(@sw-input-clear-icon) no-repeat;
	display: @sw-input-clear-display;
	height:@sw-input-clear-width;
	right: @sw-input-clear-right-pos;
	position: absolute;
	top: @sw-input-clear-top-pos;
	width:@sw-input-clear-width;
        z-index : 1;
	&:hover{
		.opacity(0.6);
	}
}


.sw-error{
	background-color: @sw-error-background;
	border-top: @sw-error-border-color 1px solid;
        color: #333;
	font-family: @sw-error-font-family;
	.font-size(@sw-error-font-size);
	height: @sw-error-height;
	line-height: @sw-error-height;
	text-align: center;
}

.sw-loadmore-btn{
	background-color: @sw-loadmore-btn-bg-color;
	border: @sw-loadmore-btn-border;
	color: @sw-loadmore-btn-color;
	display: block;
	font-family: @sw-loadmore-btn-fontfamily;
	font-weight: bold;
	.font-size(@sw-loadmore-btn-fontsize);
	padding: @sw-loadmore-btn-padding; //use padding for button height and keep text vertically middle aligned.
	text-align: center;
	width: @sw-loadmore-btn-width;
	&:hover{
		background-color: @sw-loadmore-btn-hover-color;
	}
}
.sw-loading-spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

html.mac.chrome{
	.search-widget{
		input{
			line-height: 56px;
			padding-bottom: 0;
			padding-top: 0;
		}

		&.sw-secondary{
			input{
				line-height: 36px !important;
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}
}