.share-msg{
	position: relative;
	&:extend(.fs16);
	&:extend(.tac);
	&:extend(.fwl);
    margin: 14px 0 13px;
	span{
		display: inline-block;
		&:extend(.inline-block);
		background: data-uri('../images/logo/spotify.png') no-repeat;
		height: 32px;
		margin: 0 5px;
		text-indent: -3000px;
		vertical-align: -9px;
		width: 107px;
	}
}
.primary-headline {
	margin: 10px 0;
}
.search-container {
	margin-top: 40px;
}
.recently-added {
	margin-top: 48px;
	text-align: center;
}
.track-circle__wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 20px 0;
	clear: both;
	text-align: center;
}
.track-circle__item {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid rgba(200, 200, 200, 0.5);
}
.track-circle__caption {
	margin-top: 10px;
	display: block;
}