@track-results-margin: 40px;

.enter-to-win__banner {
    background-color: #2c961a;
    padding: 20px;
    p {
        float: left;
        font-size: 21px;
        line-height: 28px;
    }
    .smaller {
        font-size: 18px;
    }
    .enter-to-win__btn {
        margin-top: 20px;
        margin-right: 10px;
        background-color: #fff;
        color: #2c961a;
        float: right;
        font-weight: normal;
        &:active,
        &:focus,
        &:hover {
            background-color: #29540d;
            color: #fff;
        }
    }
}
.subway-banner-logo {
    float: left;
    width: 180px;
    height: 180px;
    background-image: url('../images/freshTracks_eng.jpg');
    background-size: cover;
    margin-top: @track-results-margin;
}
.subway-track-results {
    position: relative;
    height: 180px;
    padding: 0 20px !important;
    margin-top: @track-results-margin;
    font-weight: normal;
}
.subway-track-results__options {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
}
.french-styles {
    &.subway-track-results__options {
        width: 100%;
    }
    .add-song {
        position: absolute;
        right: -75px;
        top: 15px;
    }
}
.subway-track-playlist {
    font-size: 28px;
    font-weight: lighter;
}

.fb-share{
    display: inline-block;
    background-image: url('../images/icons/social_icons.png');
    height: 30px;
    width: 30px;
    background-color: #2c961a;
    padding: 22px;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    vertical-align: bottom;
    &:hover{
        background-color: #29540d;
    }
}
.twitter-share{
    display: inline-block;
    background-image: url('../images/icons/social_icons.png');
    height: 30px;
    width: 30px;
    background-color: #2c961a;
    padding: 22px;
    background-repeat: no-repeat;
    background-position: -47px 6px;
    vertical-align: bottom;
    &:hover{
        background-color: #29540d;
    }
}
.selected-track {
    display: inline-block;
    min-height: 24px;
}
.subway-results {
    margin-top: @track-results-margin;
}
.recently-added-results {
    margin-top: 20px;
}
.add-song {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    &:active,
    &:focus,
    &:hover {
        color: #29540d;
    }
}