<div class="container">
    <div class="row">
        <section class="error-message col-xs-10 col-xs-offset-1 text-center">
            <h2>{{errorText.sorry}}</h2>
            <p>{{errorText.oops}}</p>
            <button type="button" class="btn btn-primary" ui-sref="landing" ng-click="onTryAgain();">{{errorText.try_again}}</button>
        </section>
    </div>
</div>