<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="primary-headline">{{landing.headline}}</h1>
        </div>
        <div class="search-container col-md-10 col-md-push-1 col-md-pull-1" ng-class="{'french': language.lang[language.currentLang].code === 'fr'}">
            <h2 class="share-msg" ng-bind-html="landing.subheadline"></h2>
            <div id="search-widget" class="search-widget">
                <div class="sw-inner">
                    <input type="text" id="search-widget-inputField" ng-model="search.query" ng-change="onSearchChange(search.query, $event)" data-place="{{landing.search_text}}" placeholder="{{landing.search_text}}" ng-click="onSearchArtist();" onfocus="onFocus(this)" onBlur="onBlur(this)" />
                    <a class="sw-clear-btn cross_btn" ng-click="search.query = '';" ng-class="(search.query.length==0) ? 'hidden':''"></a>
                    <div class="sw-dropdown" ng-if="search.query.length && trackResults.length > 0">
                        <ul class="sw-dropdown-menu">
                            <li ng-repeat="track in trackResults track by $index">
                                <a href="" ng-click="selectTrack(track)">{{track.Title}} by {{track.Singer}}</a>
                            </li>
                        </ul>
                        <button class="sw-loadmore-btn loadMore" ng-click="loadMoreResults(20)" ng-show="!hasTrackResults">{{landing.load_more}}</button>
                        <div efsharp-loading-spinner loading="isLoading" class="sw-loading-spinner"></div>
                    </div>
                    <div class="sw-error" ng-class="(!noResults || search.query.length==0) ? 'hidden':''">{{landing.no_records_text}}</div>
                    <div class="sw-loader" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="row">
        <div class="col-xs-12">
            <div class="recently-added">
                <h3>{{landing.track_label}}</h3>
                <carousel interval="myInterval" ng-show="slidesLoaded" class="fade-in no-controls">
                    <slide active="slide.active">
                        <ul class="track-circle__wrapper">
                            <li class="slide-item" ng-repeat="track in slides[0]">
                                <img ng-src="{{track.image.url}}" class="track-circle__item">
                                <span class="track-circle__caption">{{track.Track| cut:true:20:'...'}} <br />by {{track.Artist}}</span>
                            </li>
                        </ul>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</div>