<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <div class="loader-screen">
                <h3 class="loader-msg">{{loadingText}}</h3>
                <div class="video-container">
                    <efsharpvideo model="videoModel"></efsharpvideo>
                </div>
                <progressbar progressable has-button="true" progressBarText="progressBarText" ng-hide="videoDidPlay"></progressbar>
                <button progressButton class="btn btn-primary MT20 W105 viewPL" ng-show="videoDidPlay" ng-click="onNextClick()" disabled="disabled">{{continueButton}}</button>
            </div>
        </div>
    </div>
</div>