<div class="subway-results container">
    <section class="col-xs-10 col-xs-offset-1">
        <div class="enter-to-win__banner clearfix">
            <p ng-bind-html="headline"></p>
            <button class="btn-primary enter-to-win__btn" ng-click="openSignupModal()">{{enterButton}}</button>
        </div>
    </section>
    <section class="col-xs-10 col-xs-offset-1">
        <figure class="subway-banner-logo"></figure>
        <div class="col-xs-6 subway-track-results">
            <p>{{trackText}} <br> <span class="selected-track">{{selectedTrack.Title}} by {{selectedTrack.Singer}}</span></p>
            <p class="subway-track-playlist" ng-bind-html="cms.PayLoad.app_contents[2].contents[0].playlist_name"></p>
            <div class="subway-track-results__options" ng-class="{'french-styles': language.lang[language.currentLang].code === 'fr'}">
                <button type="button" class="btn-primary" ng-click="listenNow()">{{listenButton}}</button>
                <a class="fb-share" ng-click="fb_playlist();"></a>
                <a class="twitter-share"ng-click="tw_playlist();"></a>
                <a ng-click="selectAnotherSong();" href class="add-song">{{addSongText}}</a>
            </div>
        </div>
    </section>
    <section class="col-xs-12">
        <div class="recently-added-results">
            <carousel interval="myInterval" ng-show="slidesLoaded" class="fade-in">
                <slide ng-repeat="slideGroup in slides track by $index" active="slide.active">
                    <ul class="track-circle__wrapper">
                        <li class="slide-item" ng-repeat="track in slideGroup">
                            <img ng-src="{{track.image.url}}" class="track-circle__item">
                            <span class="track-circle__caption">{{track.Track| cut:true:20:'...'}} <br />by {{track.Artist}}</span>
                        </li>
                    </ul>
                </slide>
            </carousel>
        </div>
    </section>
</div>
