
<div class="modal-header" ng-hide="onTermsPage || successPage">

    <h3 class="modal-title" ng-bind-html="cms.PayLoad.app_contents[3].contents[0].heading"></h3>
    <a class="sw-clear-btn pull-right" ng-click="cancel()"></a>

</div>
<div class="DiviDer"></div>
<div class="modal-body">
    <!--<div class="blurDiv"></div>-->
    <form name="submissionForm" novalidate ng-submit="submitForm(submissionForm.$valid, submission)" ng-hide="onTermsPage || successPage">
        <legend ng-bind-html="cms.PayLoad.app_contents[3].contents[0].subheadline">Enter your details below.</legend>

        <div class="help-block has-error" ng-show="submissionForm.$invalid && formSubmitted">
            <p ng-bind-html="cms.PayLoad.app_contents[3].contents[0].error_message"></p>
        </div>

        <!-- First Name -->
        <div class="form-group" ng-class="{'has-error': submissionForm.first_name.$invalid && formSubmitted}">
            <input type="text" ng-model="submission.first_name" class="form-control" name="first_name" data-place="{{cms.PayLoad.app_contents[3].contents[0].first_name_label}}" placeholder="{{cms.PayLoad.app_contents[3].contents[0].first_name_label}}" required ng-click="onfName();" onfocus="onFocus(this);" onblur="onBlur(this);">
        </div>

        <!-- Last Name -->
        <div class="form-group" ng-class="{'has-error': submissionForm.last_name.$invalid && formSubmitted}">
            <input type="text" ng-model="submission.last_name" name="last_name" class="form-control" data-place="{{cms.PayLoad.app_contents[3].contents[0].last_name_label}}" placeholder="{{cms.PayLoad.app_contents[3].contents[0].last_name_label}}" required ng-click="onlName();" onfocus="onFocus(this);" onblur="onBlur(this);">
        </div>

        <!-- Email -->
        <div class="form-group" ng-class="{'has-error': submissionForm.email.$invalid && formSubmitted}">
            <input type="email" ng-model="submission.email" name="email" class="form-control" data-place="{{cms.PayLoad.app_contents[3].contents[0].email_label}}" placeholder="{{cms.PayLoad.app_contents[3].contents[0].email_label}}" required ng-click="onEmail();" onfocus="onFocus(this);" onblur="onBlur(this);">
        </div>

        <!-- Terms and conditions -->
        <div class="form-group" ng-class="{'has-error': submissionForm.accepted_terms.$invalid && formSubmitted}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="submission.accepted_terms" name="accepted_terms" required ng-click="onTerms($event);">
                    {{cms.PayLoad.app_contents[3].contents[0].terms_text}} <a href ng-click="enterTermsPage()" class="terms">{{cms.PayLoad.app_contents[3].contents[0].terms_text_2}}</a>
                </label>
            </div>
        </div>

        <!-- Sign up opt in -->
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="submission.opt_in" name="opt_in" ng-click="onOffers($event);">
                    <span ng-bind-html="cms.PayLoad.app_contents[3].contents[0].signup_text"></span>
            </div>
        </div>

        <!-- Buttons -->
        <div class="buttons form-group clearfix">
            <button type="submit" class="btn btn-primary pull-left submit_btn" ng-bind-html="cms.PayLoad.app_contents[3].contents[0].submit_button_label">Submit</button>
            <button class="btn btn-link pull-right" ng-click="cancel()">Cancel</button>
        </div>
    </form>

    <div class="success-page" ng-show="successPage">
        <a class="sw-clear-btn pull-right" ng-click="cancel()"></a>
        <div class="success-page__inner">
            <h3 ng-bind-html="cms.PayLoad.app_contents[3].contents[0].success_headline"></h3>
            <h2 class="spotify_prem"><span class="spotify-logo"></span> Premium</h2>
            <h3 ng-bind-html="cms.PayLoad.app_contents[3].contents[0].success_subheadline"></h3>
            <a ng-click="cancel()" class="back-button" ng-bind-html="cms.PayLoad.app_contents[3].contents[0].back_to_playlist_text"></a>
        </div>
    </div>

    <div class="terms-page" ng-show="onTermsPage">
        <a class="sw-clear-btn pull-right" ng-click="cancel()"></a>
        <a href ng-click="exitTermsPage()" class="back-button">&lt; Back</a>
        <h3 ng-bind-html="cms.PayLoad.app_contents[3].contents[0].terms_and_conditions_headline"></h3>
        <div class="terms-content__wrap">
            <p class="terms-content__text" ng-bind-html="cms.PayLoad.app_contents[3].contents[0].terms_and_conditions_text"></p>
        </div>
    </div>
</div>
<span class="promotion-details" ng-bind-html="cms.PayLoad.app_contents[3].contents[0].no_purchase_text">

</span>